In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
path = "/Users/tanya/Desktop/Data Science Journey/ML/my_project/health_lifestyle_dataset.csv"
df = pd.read_csv(path)

In [16]:
num_cols = data.shape[1]
num_rows = data.shape[0]
print(f"Number of columns: {num_cols} \nNumber of rows: {num_rows}")

Number of columns: 16
Number of rows: 100000

In [18]:
print("a glimpse into the dataset:")
df.head()

a glimpse into the dataset:

,id,age,gender,bmi,daily_steps,sleep_hours,water_intake_l,calories_consumed,smoker,alcohol,resting_hr,systolic_bp,diastolic_bp,cholesterol,family_history,disease_risk
0,1,56,Male,20.5,4198,3.9,3.4,1602,0,0,97,161,111,240,0,0
1,2,69,Female,33.3,14359,9.0,4.7,2346,0,1,68,116,65,207,0,0
2,3,46,Male,31.6,1817,6.6,4.2,1643,0,1,90,123,99,296,0,0
3,4,32,Female,38.2,15772,3.6,2.0,2460,0,0,71,165,95,175,0,0
4,5,60,Female,33.6,6037,3.8,4.0,3756,0,1,98,139,61,294,0,0